* {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    box-shadow: none;
}

body {
    background: rgb(253,114,114);
    background: linear-gradient(180deg, rgba(253,114,114,1) 44%, rgba(255,97,155,1) 100%); 
    color: #fff;
}

/* ----- TITLE ----- */
#address-title {
    text-align: center;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    padding: 3%;  
}

/* ----- SEARCH BAR ----- */

#search input {
    text-align: center;
    margin-bottom: 2%;
    transition: width 2s;
}

#search input:hover {
    width: 700px;
}

.search-bar input {
    padding: 10px;
    font-size: 17px;
    width: 50%;
    background: #fff;
    margin-left: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-bar button {
    width: 10%;
    padding: 12px;
    background: #ffccdd;
    color:#fff;
    font-size: 17px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -4px;
    cursor: pointer;
}

.search-bar {
    display: inline;
    margin: 0;
}

.search-bar button:hover {
  background: #F0136A;
}

.search-bar:after {
  content: "";
  clear: both;
  display: table;
}

/* ----- FORM ----- */

form {
    display: grid;
    box-shadow: none;
    padding-bottom: 10%;
    border-radius: 7px;

}

form input {
    width: 100%;
    padding: 5px;
    box-shadow: none;
}

#form input {
   border-radius: 7px; 
}

#myTooltip {
    position:absolute;
    padding:2px 5px;
    color:#fff;
    font-weight: 600;
    background: rgb(0,245,233);
    background: linear-gradient(180deg, rgba(0,245,233,1) 0%, rgba(30,255,182,1) 100%);
    border-radius: 5px; 
}

.tooltip-inner {
    background-color: #FF126F;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #FF126F!important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #FF126F !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #FF126F !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #FF126F !important;
}

#saveBtn, #deleteBtn, #updateBtn, #sortBtn {
    background-color: #FF126F;
    border-radius: 7px;
    border: none;
    width: 150px;
    color: #fff;
}

#saveBtn:hover, #deleteBtn:hover, #updateBtn:hover, #sortBtn:hover {
    background-color: #F0136A;
}

.table {
    background-color: #fff;
    border-radius: 7px;
}

i {
    padding: 5px;
}

#sortBtn {
    box-shadow: none;
    margin: 2%;
}

#tableID {
    width: 75%;
}
