* {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    box-shadow: none;
}

body {
    background: rgb(253,114,114);
    background: linear-gradient(180deg, rgba(253,114,114,1) 44%, rgba(255,97,155,1) 100%); 
    color: #fff;
}
#address-title {
    text-align: center;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    padding: 3%;
    
}

/* ----- SEARCH BAR ----- */

#search input {
    text-align: center;
    margin-bottom: 2%;
    transition: width 2s;
}

#search input:hover {
    width: 60%;
}

.search-bar button {
    float: right;
    width: 20%;
    padding: 10px;
    background: #ffccdd;
    color:#fff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.search-bar input {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 50%;
    background: #f1f1f1;
}

.search-bar button:hover {
  background: #ff80aa;
}

.search-bar::after {
  content: "";
  clear: both;
  display: table;
}


form {
    display: grid;
    box-shadow: none;
}

form input {
    width: 100%;
    border-radius: 5px;
    padding: 3%;
    box-shadow: none;
}

label {
    
}

ul {
    list-style: none;
}

.column {
    width: 50%;
    float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

li {
    padding: 3%;
}