* {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    box-shadow: none;
}

body {
    background: rgb(253,114,114);
    background: linear-gradient(180deg, rgba(253,114,114,1) 44%, rgba(255,97,155,1) 100%); 
    color: #fff;
}

/* ----- TITLE ----- */
#address-title {
    text-align: center;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    padding: 3%;  
}

/* ----- SEARCH BAR ----- */

#search input {
    text-align: center;
    margin-bottom: 2%;
    transition: width 2s;
}

#search input:hover {
    width: 700px;
}

.search-bar input {
    padding: 10px;
    font-size: 17px;
    width: 50%;
    background: #f1f1f1;
    margin-left: 20%;
}

.search-bar button {
    width: 10%;
    padding: 11px;
    background: #ffccdd;
    color:#fff;
    font-size: 17px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -4px;
    cursor: pointer;
}

.search-bar {
    display: inline;
    margin: 0;
}

.search-bar button:hover {
  background: #ff80aa;
}

.search-bar:after {
  content: "";
  clear: both;
  display: table;
}

/* ----- FORM ----- */

form {
    display: grid;
    box-shadow: none;
}

form input {
    width: 100%;
    padding: 3%;
    box-shadow: none;
}

form label {
    font-weight: 700;
}



ul {
    list-style: none;
}

i {
    margin-left: 10px;
}

.column {
    width: 50%;
    float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

li {
    padding: 3%;
}

#myTooltip {
    position:absolute;
    padding:2px 5px;
    color:#fff;
    font-weight: 600;
    background: rgb(0,245,233);
    background: linear-gradient(180deg, rgba(0,245,233,1) 0%, rgba(30,255,182,1) 100%);
    border-radius: 5px; 
}

.contactBtns {
    margin-top: 30px;
    margin-bottom: 10%;
    padding: 15px 35px;
    border-radius: 7px;
    font-size: 17px;
    margin: auto 0;
    margin-left: 90px;
    margin-right: 50px;
    cursor: pointer;
    border: 3px solid rgb(0,255,243);
    color: #fff;
    font-weight: 900;
    background-color: #6564DB; 
}

.buttons {
    padding-top: 7%;
}

